
.rowposter{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.rowing{
    max-height: 250px;
    object-fit: contain;
    width: 100%;
    box-sizing: content-box;
    transition: transform 450ms;
    margin-right: 8px;
}

.rowing:hover{
    transform: scale(1.08);
    cursor: pointer;
}

.rowposter::-webkit-scrollbar{
    display: none;
}

.transparent-gradient {
    -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))
  }

  .bg{
    background-color: #181716;
}



@media screen and (max-width: 600px) {
  
    .wallpaper { display: none; } 
    .nav-item{
        text-align: center;
    }
    .footer{
        display: flex;
        justify-content: start;
    }
    .carousel-img {
        height: 50vh;
    }
}

.carousel-img{
    width: 100vw;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.bg-img-1{
    background-image: url('https://images4.alphacoders.com/606/606649.jpg');
}
.bg-img-2{
    background-image: url('https://images8.alphacoders.com/553/553032.jpg');

}
.bg-img-3{
    background-image: url('https://images5.alphacoders.com/884/884251.jpg');

}
.bg-img-4{
    background-image: url('https://images6.alphacoders.com/118/1188045.jpg');

}


.footer{
    background-color: #e9e3e3;
    color: #B1221D;
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: 100% ;
}


.nav-brand{
    font-weight: 700;
    text-align: center;
    color: rgb(173, 30, 30);
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100% ;
  }