
.rowposter{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.rowing{
    max-height: 250px;
    object-fit: contain;
    width: 100%;
    box-sizing: content-box;
    transition: transform 450ms;
    margin-right: 8px;
}

.rowing:hover{
    transform: scale(1.08);
    cursor: pointer;
}

.rowposter::-webkit-scrollbar{
    display: none;
}

.transparent-gradient {
    -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))
  }

  .transparent-gradient-right {
    -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))
  }

  .bg{
    background-color: #181716;
}



@media screen and (max-width: 600px) {
  
    .wallpaper { display: none; } 
    .nav-item{
        text-align: center;
    }
    .footer{
        display: flex;
        justify-content: start;
    }
 
}

img, svg {
  vertical-align: middle;
  margin-bottom: 3px;
}

h5{
    font-size: 1.5rem;
    color: #B1221D;
}

.caro-img{
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 




.footer{
    background-color: #e9e3e3;
    color: #B1221D;
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: 100% ;
}


.nav-brand{
    font-weight: 700;
    text-align: center;
    color: rgb(173, 30, 30);
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100% ;
  }


  .bn30 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #f83737dc, #700000);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
  }
  
  .bn30 .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg,  #f83737dc, #700000);
  }
  
  .bn30:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }
  
  .bn30:hover {
    background-image: linear-gradient(-45deg, #f83737dc, #700000);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
  
  .bn30:hover .text {
    background-image: linear-gradient(-45deg, #f83737dc, #700000);
  }