<div class="bg">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let item of banners; let i=index" data-bs-interval="25 00"
          [ngClass]="{active:i===1}">
            <img src="https://image.tmdb.org/t/p/original{{item.backdrop_path}}" class="d-block transparent-gradient caro-img" alt="...">
            <div class="carousel-caption">
              <h5 class=" d-none d-md-block">{{item.title}}</h5>
              <p class="d-none d-md-block">{{item.overview}}</p>
              <a routerLink="/details/{{item.id}}" class="d-md-block"><button class="bn30">VIEW</button></a>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

5
    <h2 style="color: aliceblue;">Trending Movies</h2>

    <div class="scroll-cont">
            <div class="rowposter">
              <ng-container *ngFor="let movie of movies" >
                <img class="rowing" src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" routerLink="/details/{{movie.id}}" routerLinkActive="active">
              </ng-container>  
            </div>
    </div>

    <h2 style="color: aliceblue;">Tamil Movies</h2>

    <div class="scroll-cont">
            <div class="rowposter">
              <ng-container *ngFor="let movie of TamilMovies" >
                <img class="rowing" src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" routerLink="/details/{{movie.id}}" routerLinkActive="active">
              </ng-container>  
            </div>
    </div>
    <div class="footer col col-sm-12 col-md-12">
      <footer class="py-3 my-4">
          <div class="row">
              <div class="col-sm-12 col-md-3 nav-brand"><a>FLEXER</a></div>
              <div class="col-sm-12 col-md-3 nav-item"><a>© 2020 OMDb API</a></div>
            <div class="col-sm-12 col-md-3 nav-item"><a>Developed By Risiidhan</a></div>
          </div>
        </footer>
  </div>

</div>