.mPosImg {
    border-radius: 10px;
    max-height: 350px;
    object-fit: contain;
}

.transparent-gradient {
    -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))
  }
  

.container-fluild {
    background-color: #181716;
    position: relative;
}

@media screen and (max-width: 600px) {
    .mPosImg {
        width: 100vw;
        border-radius: 0px;
        margin-top: 10px;
        max-height: 100vh; 
        -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) 
    }
    .wallpaper { display: none; } 
    .nav-item{
        text-align: center;
    }
    .footer{
        display: flex;
        justify-content: start;
    }
}

@media screen and (max-width: 480px) {
    .row {
        flex-direction: column;
    }
    .posterDiv {
        order: 1;
    }

    .details {
        order: 2;
        margin-top: 20px;
    }
    .footer{
        order:3;
        
    }
  
}


.posterDiv {
    display: flex;
    justify-content: center;
}


.details {
    padding-left: 40px;
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 35px;
    width: 95px;
    border: white;
    background-color: #B1221D;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}

.wallpaper {
    opacity: 0.4;
    filter: blur(15px);
    height: 100vh;
    width: 100vw;
}
.transparent-gradient-wallpaper {
    -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), (180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), (180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))
 
}


.row-cont{
    position: absolute;
    top: 15%;
}

td {
    padding-bottom: 8px;
}


button:hover {
    background-color: #e9e3e3;
    color: #B1221D;
}

.footer{
    background-color: #e9e3e3;
    color: #B1221D;
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: 100% ;
}


.nav-brand{
    font-weight: 700;
    text-align: center;
    color: rgb(173, 30, 30);
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100% ;
  }