<div class="container-fluild" *ngIf="movie">
    <img class="wallpaper transparent-gradient-wallpaper " src="https://image.tmdb.org/t/p/original{{movie.backdrop_path}}" alt="Poster">

    <div class="row row-cont">
        <div class="col col-sm-12 col-md-6 details">
            <table>
                <tr>
                    <h2> {{ movie.title | uppercase}} </h2>
                </tr>
                <tr>
                    <td style="font-size: 20px; color:#B1221D;">{{ movie.release_date}}</td>
                </tr>
                <tr>
                    <td style="font-size: 14px; color:#929191;">{{ movie.runtime}}m | {{ movie.genres[0].name}}</td>
                </tr>

                <tr>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#F2A007"
                            class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path
                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg> <span style="font-size: 22px;"> {{ movie.vote_average | number : '1.1-1'}}</span> </td>
                </tr>
                <tr>
                    <td>Language : <span style="color: #B1221D; font-weight: 700;"> {{ movie.original_language | uppercase}}</span></td>
                </tr>
                <tr>
                    <td class="plot">{{ movie.overview}}</td>
                </tr>
                <tr>
                    <button (click)="goBack()">Go Back</button>
                </tr>

            </table>
        </div>
        <div class="col col-sm-12 col-md-6 posterDiv">
            <img class="mPosImg" src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt="Poster">
            
        </div>
        <div class="footer col col-sm-12 col-md-12">
            <footer class="py-3 my-4">
                <div class="row">
                    <div class="col-sm-12 col-md-3 nav-brand"><a>FLEXER</a></div>
                    <div class="col-sm-12 col-md-3 nav-item"><a>© 2020 TMDB API</a></div>
                  <div class="col-sm-12 col-md-3 nav-item"><a>Developed By Risiidhan</a></div>
                </div>
              </footer>
        </div>
    </div>
   
</div>
