input.transparent-input{
  background-color:transparent !important;
}

input.transparent-input:focus {
  background-color:white;
}

.navbar-brand{
  font-weight: 700;
  color: rgb(173, 30, 30);
}

.input-group{
  width: 90%;
}

.navbar-toggler{
  margin-right: 20px;
}

svg{
  height: 32px;
}