
.rowposter{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.rowing{
    max-height: 120px;
    margin-bottom: 50px;
    margin-left: 10px;
}

.rowing:hover{
    transform: scale(1.08);
    cursor: pointer;
}

.title{
    font-size: 20px;
    font-weight: 500;
    width: 140px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0 5px 0 5px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.err{
    aspect-ratio: 2/3;
}
@media screen and (max-width: 600px) {
  
    .title{
        width: 240px;
    }
}

.transparent-gradient {
    -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))
  }

  .bg{
    background-color: #181716;
}

h2{
    color: rgb(173, 30, 30);
    padding-top: 60px;
    padding-bottom: 20px;
}

.footer{
    background-color: #e9e3e3;
    color: #B1221D;
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: 100% ;
}


.nav-brand{
    font-weight: 700;
    text-align: center;
    color: rgb(173, 30, 30);
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100% ;
  }