<!-- <img class="wallpaper" src="/assets/images/thumb.jpg" alt=""> -->

<div *ngIf="movie">
    
    <div class="bg">
        <h2>Searched Results....</h2>
        <div class="scroll-cont">
            <div class="rowposter">
                <ng-container *ngFor="let movie of movie">
                    <img class="rowing" src="{{movie.Poster}}" routerLink="/details/{{movie.imdbID}}"
                        routerLinkActive="active">
                </ng-container>
            </div>
        </div>
    </div>
    
    
</div>
