
.rowposter{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.rowing{
    max-height: 250px;
    object-fit: contain;
    width: 100%;
    box-sizing: content-box;
    transition: transform 450ms;
    margin-right: 8px;
}

.rowing:hover{
    transform: scale(1.08);
    cursor: pointer;
}

.rowposter::-webkit-scrollbar{
    display: none;
}

.transparent-gradient {
    -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))
  }

  .bg{
    background-color: #181716;
}

h2{
    color: rgb(173, 30, 30);
    padding-top: 60px;
    padding-bottom: 20px;
}

.footer{
    background-color: #e9e3e3;
    color: #B1221D;
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: 100% ;
}


.nav-brand{
    font-weight: 700;
    text-align: center;
    color: rgb(173, 30, 30);
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100% ;
  }