<!-- <img class="wallpaper" src="/assets/images/thumb.jpg" alt=""> -->

<div *ngIf="movie">
    <h2>Searched Results....</h2>

<div class="bg">
    <div *ngFor="let movie of movie |keyvalue">
        <a *ngFor="let movie of movie.value"  routerLink="/details/{{movie.imdbID}}" routerLinkActive="active">
            <div class="poster">
                <img  src="{{movie.Poster}}">
                <div class="info">
                    <strong >

                        {{movie.Title}}
                    </strong>
                </div>


            </div>   
        </a> 
    </div>   
</div>

</div>
